In [32]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_theme()

In [33]:
col_names = pd.read_csv('data/data.csv', nrows=0).columns
dtype_map = {'class' : np.int16, 'year' : np.int16}
dtype_map.update({col: np.float64 for col in col_names if col not in dtype_map})

dtf = pd.read_csv('data/data.csv', dtype=dtype_map)
al = dtf.shape[0]
print(f"Выборка: {al}")
dtf.drop_duplicates(keep=False, inplace=True)
print(f"Количество дубликатов {al - dtf.shape[0]}")

Выборка: 43405
Количество дубликатов 802

,Attr1,Attr2,Attr3,Attr4,Attr5,Attr6,Attr7,Attr8,Attr9,Attr10,...,Attr57,Attr58,Attr59,Attr60,Attr61,Attr62,Attr63,Attr64,class,year
0,0.200550,0.37951,0.39641,2.0472,32.3510,0.38825,0.249760,1.33050,1.1389,0.50494,...,0.39718,0.87804,0.001924,8.4160,5.1372,82.658,4.4158,7.4277,0,1
1,0.209120,0.49988,0.47225,1.9447,14.7860,0.00000,0.258340,0.99601,1.6996,0.49788,...,0.42002,0.85300,0.000000,4.1486,3.2732,107.350,3.4000,60.9870,0,1
2,0.248660,0.69592,0.26713,1.5548,-1.1523,0.00000,0.309060,0.43695,1.3090,0.30408,...,0.81774,0.76599,0.694840,4.9909,3.9510,134.270,2.7185,5.2078,0,1
3,0.081483,0.30734,0.45879,2.4928,51.9520,0.14988,0.092704,1.86610,1.0571,0.57353,...,0.14207,0.94598,0.000000,4.5746,3.6147,86.435,4.2228,5.5497,0,1
4,0.187320,0.61323,0.22960,1.4063,-7.3128,0.18732,0.187320,0.63070,1.1559,0.38677,...,0.48431,0.86515,0.124440,6.3985,4.3158,127.210,2.8692,7.8980,0,1

In [36]:
percent_missing = dtf.isnull().sum() / dtf.shape[0] * 100.00
missing_value_df = pd.DataFrame({'column_name': dtf.columns,
                                 'percent_missing': percent_missing})
missing_value_df

       column_name  percent_missing
Attr1        Attr1         0.018778
Attr2        Attr2         0.018778
Attr3        Attr3         0.018778
Attr4        Attr4         0.309837
Attr5        Attr5         0.208905
...            ...              ...
Attr62      Attr62         0.288712
Attr63      Attr63         0.309837
Attr64      Attr64         1.868413
class        class         0.000000
year          year         0.000000

[66 rows x 2 columns]